# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

# Code files
[*.{cs,csx,vb,vbx}]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
charset = utf-8-bom

###############################
# Json Formatting Rules       #
###############################

[*.json]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
