@mixin placeholder {
	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		@content;
		opacity: 1; //for Mozilla
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		@content;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		@content;
	}
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

// @include level-box-shadow;
@mixin level-box-shadow {
	@include box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.35));
}

// @include small-level-box-shadow;
@mixin small-level-box-shadow {
	@include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.35));
}

// @include small-level-box-shadow;
@mixin small-level-box-shadow-light {
	@include box-shadow(0, 2px, 6px, #33333359);
}

// @include flex-center-row;
@mixin flex-center-row {
	align-items: center;
	display: flex;
	flex-direction: row;
}

// @include casual-font;
@mixin casual-font {
	font-family: "Indie Flower", cursive;
}

// @include text-select-none;
@mixin text-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

