@import "../../../sass/~includes.scss";

@import "./theme-dark.scss";

.menu-item {
	display: block;
	line-height: 1.8;
	padding: 4px 20px;
	text-align: left;
	width: 100%;
	word-wrap: break-word; 
}
